@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: black;
  scroll-behavior:smooth;
}


body{
  width: auto;
  height: auto;
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .header_div{
  display:grid;
  width: 50vh;
  height: 50vh;
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
}

.header_div_div{
  display: grid;
  width: 25vh;
  height: 5vh;
  background-color: rgb(255, 68, 0);
  justify-content: start;
  align-items: start;
}

.second{
  display: flex;
  width: 50vh;
  height: 50vh;
  background-color: yellow; 
  align-content: flex-end;
}

.header_div_div:hover {
  background-color: black;
} */

.logo_text {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0);
  height: 100px;
  font-size: 11rem;
  overflow: hidden;
}

.logo_top{
  position: sticky;
  top: 0;
}

header{
  position: sticky;
  top: 1rem;
  z-index: +1;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
a:hover {
  color: rgb(98, 92, 92);
}

/* a::placeholder {
  color: aqua;
} */

:visited{
  color: rgb(238, 0, 0);
}

.writing {
  background-color: black;
  font-family:'Times New Roman', Times, serif;
  padding: 1rem;
  top: 30%;
  row-gap: 10rem;
  position: relative;
  border-radius: 1rem;
}

h4{
  font-family:monospace;
  color: whitesmoke;
}

.break{
  background-color: white;
  position: relative;
}

.complete{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1px;
  background-color: black;
  z-index: -1;
}

.logo_complete_text {
  font-size: 11rem;
  color: whitesmoke;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 31, 31);
  position: sticky;
  border-radius: 0rem 0rem 2rem 2rem;
  padding: 1rem;
}

.bottom_div {
  display: grid;
  place-content: center;
  background-color: black;
  width: 30rem;
  height: 45rem;
  border-radius: 2rem 2rem 2rem 2rem;
}

.bottom_div_div {
  display: grid;
  place-content: center;
  background-color: hsla(240, 48%, 60%, 0.501);
  width: 28rem;
  height: 41rem;
  border-radius: 2rem;
}

.bottom_text {
  color: red;
  position: relative;
  overflow: auto;
}

.foot{
  position: sticky;
  bottom: 0;
}

.sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.15rem;
}


.linkedin a i:hover{
  color: blue;
}
.instagram a i:hover{
  color: rgb(231, 63, 91);
}
.youtube a i:hover{
  color: red;
}
.github a i:hover{
  color: rgb(56, 55, 55);
}


@media screen and (max-width: 750px) {
  .logo_text {
    font-size: 8rem;
    height: 5rem;
  }
  .logo_complete_text{
  font-size: 8rem;
  }
  header section main footer {
      display: none;
  }

  section main {
      top: 50%;
      transform: translateY(-50%);
  }
}

@media screen and (max-width: 550px) {
  .logo_text {
      font-size: 5rem;
      height: 3rem;
  }
  .content{
    padding-left:0.5rem;
    padding-right: 0.5rem;
  }
  .logo_complete_text{
    font-size: 5rem;
  }
  .bottom{
    padding: 0.5rem 0.5rem 0.7rem 0.5rem;
  }
  .bottom_div {
    display: grid;
    place-content: center;
    background-color: black;
    width: 25rem;
    height: 35rem;
    border-radius: 1.5rem;
  }
  
  .bottom_div_div {
    display: grid;
    place-content: center;
    width: 20rem;
    height: 30rem;
    border-radius: 1.5rem;
  }
  i{
    font-size: 0.6rem;
  }
}


/* MY PROJECT */


.logo_text2 {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0);
  height: 100px;
  font-size: 9rem;
  overflow: hidden;
}

.boxex{
  padding-left: 1rem;
  padding-right: 1rem;
}

.boxex1, .boxex{
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  gap: 10rem;
  background-color: black;
  z-index: -2;
}


/* .box1 {
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
  border: 2px solid black;
  position:inherit;
} */
.description {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 24.8rem;
  height: 10.9rem;
  border-radius: 0.9rem;
  background-color: rgb(46, 46, 46);
}
.description_project{
  color: whitesmoke;
  padding-left: 1rem;
}
.image_project{
  border-radius: 1rem;
  height: 15rem;
  width: 24.8rem;
}

.project_image{
  padding: 0;
}

/* .box2 {
  border-radius: 1rem;
  border: 2px solid black;
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
} */
/* .box3 {
  border-radius: 1rem;
  border: 2px solid black;
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
  box-shadow:inset;
}
.box4 {
  border-radius: 1rem;
  border: 2px solid black;
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
  text-shadow: 1rem;
} */
.box1, .box2, .box3, .box4, .box5 {
  /* display: flex;
  justify-content: center;
  align-items: end; */
  z-index: 0
}
.link_project {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
}
.github1{
  position: sticky;
  bottom: 0;
}

.text{
  padding-right: 1rem;
}


a{
  text-decoration-line: none;
}

.imagenishant{
  position:fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.myproject_break, .myproject_break1{
  background-color: black;
}

@media screen and (max-width:950px){
  .logo_text2{
    font-size: 8rem;
    height: 5.5rem;
  }
  .description {
    width: 15rem;
    height: 10rem;
  }
  .image_project{
    width: 15rem;
    height:  12rem;
  }
  .boxex, .boxex1{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width:650px){
  .logo_text2{
    font-size: 5rem;
    height: 3.5rem;
  }
  /* .box1, .box2, .box3, .box4, .box5{
    height: 10rem;
    width: 10rem;
  } */

  .boxex, .boxex1{
    padding-top: rem;
    gap: 2rem;
  }
  .link_project{
    position: sticky;
    bottom: 0;
  }
  .box1{
    padding-top: 3rem ;
  }
  .description {
    width: 22rem;
    height: 15rem;
  }
  .description_project{
    font-size: 1rem;
  }
  .image_project{
    height: 15rem;
    width:  22rem;
  }
  .boxex{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    align-items: center;
    padding-right: 1rem;
  }
  .box1,.box2{
    padding-right: 0rem;
  }
  .boxex1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .myproject_break{
    background-color: rgba(0, 0, 0, 0);
  }
  .myproject_break1{
    background-color: black;
  }
  .link_project{
    position: sticky;
    bottom: 0;
  }
  .box5{
    padding-bottom: 2rem;
  }
  
}
