*{
  background-color:steelblue;
  box-sizing:content-box;
} 


p {
  background-color: aliceblue;
  border: 1px solid #000;
  overflow:auto;
  padding: 20px;
}

input {
  background-color: blanchedalmond;
  border-radius: 10%;
  border: 2px solid green;
}

h1 {
  outline: double;
  box-shadow: 10px 5px 5px red;
  padding: 0rem;
  background-color: greenyellow;
  min-width: min-content;
  border: 1px solid #000;
}