* {
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    padding: 1px;
}

html {
    background-color:black;
}

table, td, tr, th {
    border: 1px solid ;
    border-collapse: collapse;
    border-color: hsl(240, 94%, 27%);
    text-align: center;
}

a:hover{
    width: auto;
    height: auto;
    background-color:aquamarine;
    animation: ankor 5s ;
}

hr {
    border-color: aqua;
}

.break {
    background-color: lightblue;
}

img {
    height: 500px;
    width: 745px;
}

/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 0.25em;
}

nav {
    background-color: chocolate;
    border-bottom: 1px solid black ;
    font-weight: bold ;
    box-shadow: 0 6px 5px -5px black;
}

ul{
    padding: 0.25em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

}

.input {
    background-color: red;
    display: flex;
    justify-content: end;
}

.hero {
    position: relative;
}

.hero__h2 {
    background-color: darkcyan;
    color:white;
    padding: 0.25em 0.25em;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 5px white;
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showwelcome 1s ease-in-out 0.5s forwards alternate-reverse;
    animation-iteration-count: 2;
    animation-play-state: running;
}

@keyframes showwelcome {
    0% {
        top: -20px;
        transform:scaleY(0);
    }

    40% {
        top: 30px;
        transform: scaleY(1.2);
    }

    100% {
        top: 20px;
        transform: scaleY(0);
    }
}

@keyframes ankor {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateY(0px);
    }
    
}

footer {
    position: sticky;
    bottom: 0;
}

.footer__p {
    border: 1px solid black;
    background-color: black;
}

span {
    background-color: black;
    color: white;
}





.animate {
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: calc(1/0);
    animation-timing-function: ease;
  }
  
  @keyframes grow {
    0% {
      transform: scaleX(1.1);
    }
    50% {
      transform: scaleX(1.8);
      background: darkturquoise;
    }
  }
  
  /* Decorative styles */
  .grower {
    width: 400px;
    height: 8px;
    background: rebeccapurple;
    position: relative;
  }



  .pulser {
    width: 900px;
    height: 20px;
    background: pink;
    position: relative;
  }
  
  .pulser::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      transform: scale(1.4);
      opacity: 0.4;
    }
  }
  
  .pulser::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: red;
    z-index: +1;
  }
  
  /* Decorative styles */
  body {
    
    place-items: start;
  }
  